/* https://stackoverflow.com/questions/44080173/how-can-i-get-rid-of-the-gap-at-the-edge-of-the-page */

body {
    padding: 0px;
    border: 0px;
    margin: 0px;
    width: 100%;
    background-color: lightgrey;
    height: 100vh;
}



.container {
    display: grid;
    grid-template-areas: 'headx headx  headx'
        'svarta namn  svartb'
        'svarta innehåll  svartb'
        ' svarta innehåll2  svartb'
        'svarta  fotter svartb';
    width: 100%;
    height: 100%;

}

a {
    color: black;
    text-decoration: none;

}

/*  head = navbar
svart = den svrta ytan
namn = bilden + fransic bacon shop
*/

a {

    text-decoration: none;

}

/*nav bar*/
.header {
    display: flex;
    align-items: center;
    grid-area: headx;
    border: 5px solid black;
    background-color: lightgrey;


}

/* gällande alla länkar inom hela navbaren*/
.header a {
    color: black;
    align-items: center;
    display: flex;
}

/* bilden i hörnet  Om man trycker på den kommer man till start sidan är inte med i navbar för den är i en annan div och har helt annan css*/
.divimg {
    display: inline-block;
    padding-right: 5px;

}

.litenlogga {
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
    width: 50px;
    height: 100%;
    border: black solid 2px;
    transition: 1s;
}

.litenlogga:hover {

    width: 25px;
    height: 25px;
    transition: 2s;
}

/*navbaralltså allting i headern utom bilden.*/

.navbar {
    width: 100%;

    justify-content: space-between;

    display: flex;
}




/*  tillexempel  classen produkter är navbar > a > div,    medans produktera är navbar > a,   alltså a taggen som är runt diven med texten*/

.baconIa {
    border-left: black 5px solid;
    border-right: black 5px solid;
    padding: 12px;

}


.baconI {
    font-size: 35px;
    display: inline-block;
    text-align: center;

}


.produktera {

    width: 25%;
}


.produkter {
    width: 100%;
    text-align: center;
    font-size: 25px;

}

.produkter:hover {
    font-size: 50px;
    transition: 1s;
}



.omossa {

    border-left: black 5px solid;
    width: 25%;
    font-size: 25px;

}



.omoss {

    width: 100%;
    text-align: center;

}

.omoss:hover {
    font-size: 50px;
    transition: 1s;

}

.loggaina {

    border-left: black 5px solid;
}


.loggain {

    font-size: 25px;
    transition: 1s;
}

.loggaina :hover {


    padding-right: 15px;
    padding-left: 15px;
    transition: 1.5s;
}

.loggain :hover {


    font-size: 50px;
    transition: 1.5s;
}


/*slut på navbar*/

/* svart box*/
.svartbox {
    display: inline-block;

    background-color: black;
    height: 100%;
}

.svarta {
    grid-area: svarta;
}

.svartb {
    grid-area: svartb;
}

/*slut på svart box*/

/*Bild och namn */

.rubrik {
    grid-area: namn;
    border-bottom: 5px black solid;

    display: flex;
    align-items: center;
    background-color: lightgrey;
}



.rubrik a img {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: solid black 5px;

    margin: 1%;
    transition: 1.5s;
}

.rubrik a img:hover {

    width: 110px;
    height: 110px;
    transition: 1.5s;
}

.rubriktext {

    font-size: 70px;
}


.rubrik div {
    margin-left: 10%;
    width: 100%;

    display: inline-block;

}

/*slut på bild och namn*/

/*huvud inehållet innuti inehåll kommer huvudsaken på varje sida vara anorlunda*/

.innehåll {

    display: flex;
    background-color: lightgrey;
    height: 800px;
    grid-area: innehåll;
    border-bottom: 5px black solid;
    justify-content: center;
    align-items: center;

}

/* innehållet i inehåll*/




.box {
    height: 50%;
    width: 50%;
    border: 2px black solid;


}

.boxtitel {

    font-size: 50px;
    text-align: center;
}

.skrivdiv {
    width: 100%;
    height: 25%;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skriv {
    height: 40%;
    width: 80%;
}

.skrivdivb {
    width: 100%;
    height: 25%;
    background-color: lightgrey;
    display: flex;

    justify-content: center;
}

.skrivb {
    height: 40%;
    width: 80%;

}

.undertitel {
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    font-size: 25px;
    text-align: center;
}


.loggaindiv {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.aalogga {

    margin: 10px;
}

.alogga {

    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 25px;

}

.knapp {
    text-align: center;
    font-size: 25px;
    width: 25%;
    border: black solid 2px;
    border-radius: 15px;
    background-color: grey;
    transition: 1.5s;
}

.knapp:hover {
    background-color: black;
    color: grey;
    transition: 1.5s;
    padding: 10px;
    border-radius: 50px;

}

.skriv {
    font-size: 30px;
}

.skrivb {
    font-size: 30px;
}

.opacity0 {
    opacity: 0;
}

.svarcss {
    text-align: center;
    font-size: 30px;
    color: red;
    opacity: 1;

}

/* början på fotter */

.fotter {
    border-top: 5px solid black;
    grid-area: fotter;
    background-color: lightgrey;

}

.fotter div {

    font-size: 20px;
}

.fotterlänk {
    font-size: 25px;
    color: orange;
}

.fotterlänk :hover {

    font-size: 40px;

}


@media only screen and (max-width: 570px) {


    /*navbar */

    .baconIa {
        border-left: black 5px solid;
        border-right: black 5px solid;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 12px;
        padding-bottom: 12px;

    }

    .baconI {
        font-size: 20px;

    }




    .rubriktext {
        font-size: 25px;
    }

    .knapp {
        font-size: 20px;
    }




    .produkter {

        font-size: 10px;

    }


    .box {
        height: 50%;
        width: 60%;
        border: 2px black solid;
    }

}